
body {margin:0;font-family:Arial;background:#0d0d0d;color:white;}
header {display:flex;justify-content:space-between;padding:20px;background:#111;align-items:center;}
nav a {color:#00aaff;margin:0 10px;text-decoration:none;font-weight:bold;}
nav a:hover {color:white;transition:0.3s;}
.logo {height:60px;}
section {padding:80px;}
